---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About UGS"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("December 16 2023")}
  heroImage="/lincoln.jpg"
>
  <meta property="og:title" content="About Unique Geospatial" />
  <meta
    property="og:description"
    content="Specializing in providing cutting-edge geospatial
solutions for a variety of industries"
  />
  <meta
    property="og:image"
    content="https://uniquegeospatial.com/lincoln.jpg"
  />
  <div>
    <h3>Who We Are</h3>

    Founded in 2017, Unique Geospatial is a leading provider of geospatial
    solutions, offering expertise in GIS, CAD, UAVs, GPS, remote sensing, LiDAR,
    surveying, spatial analysis, and more. Our founder, Lincoln Kauffman, holds
    a BA in Geography with honors from the University of Texas Austin. Our
    Mission: To empower businesses with data-driven insights through innovative
    geospatial solutions, fostering sustainable development and informed
    decision-making. Services: Unlock the Full Potential of Geospatial
    Technology with Unique Geospatial

    <h3>Our Mission</h3>
    To empower businesses with data-driven insights through innovative geospatial
    solutions, fostering sustainable development and informed decision-making.

    <h3>Services</h3>
    <ul>
      <li>
        <span class="services-title">Solar, Wind, and Storage Prospecting:</span
        > Discover the potential of your energy projects with our expert analysis.
        We analyze interconnection routes, substation locations, and buildable areas
        based on your parameters, providing detailed figures and web apps for meetings
        and development workshops.
      </li>

      <li>
        <span class="services-title">Due Diligence and Advisory Services:</span>
        Ensure a solid foundation for your projects with our comprehensive due diligence
        services. We review site control, verify legal descriptions, and conduct
        fatal flaw analyses, integrating findings into informative cartographic outputs.
      </li>

      <li>
        <span class="services-title">Constraints and Permitting Analysis:</span>
        Navigate the complexities of permitting with our in-depth geospatial data
        mining. We identify site-specific constraints, perform holistic analyses,
        and produce high-quality, informative cartographic outputs.
      </li>

      <li>
        <span class="services-title"
          >Decommissioning and Demolition Support:</span
        > Streamline the decommissioning process with our GIS and data management
        support. From preserving infrastructure locations to providing field surveyor
        training, we ensure a smooth transition.
      </li>

      <li>
        <span class="services-title">Remote Sensing:</span> Harness the power of
        remote sensing to gather valuable information without physical contact. Our
        expertise in interpreting and analyzing data from various sensors allows
        us to provide actionable insights for environmental monitoring, agriculture,
        and beyond.
      </li>

      <li>
        <span class="services-title">Drone Survey and Mapping:</span> Take your projects
        to new heights with our drone survey and mapping services. We leverage cutting-edge
        UAV technology to capture high-resolution imagery and create accurate 3D
        maps. From construction sites to expansive landscapes, our drone solutions
        provide a detailed perspective for informed decision-making.
      </li>

      <li>
        <span class="services-title">Digital Twins:</span> Step into the future of
        project visualization with digital twins. We create precise digital replicas
        of physical assets, allowing for real-time monitoring, simulation, and analysis.
        Digital twins enhance project management, improve efficiency, and facilitate
        better communication across all stages of development.
      </li>

      <li>
        <span class="services-title">LiDAR (Light Detection and Ranging):</span>
        Experience the precision of LiDAR technology for detailed mapping and topographical
        analysis. Our LiDAR services enable high-resolution elevation modeling, accurate
        terrain mapping, and enhanced environmental assessments. Stay ahead with
        the latest in geospatial technology.
      </li>

      <li>
        <span class="services-title">Spatial Analysis and Modeling:</span> Drive
        data-driven decisions with our advanced spatial analysis and modeling services.
        Whether you need to analyze terrain characteristics, optimize route planning,
        or simulate environmental impacts, our experts utilize GIS tools to provide
        insights that go beyond the surface.
      </li>

      <li>
        <span class="services-title"
          >Custom Web-Based Mapping Applications:</span
        > Empower your team with intuitive and tailored web-based mapping applications.
        Our custom solutions enhance collaboration, streamline data access, and provide
        a user-friendly interface for your specific project requirements.
      </li>

      <li>
        <span class="services-title">Data Acquisition and Management:</span> Ensure
        the integrity and accessibility of your geospatial data with our comprehensive
        data acquisition and management services. From sourcing relevant datasets
        to designing efficient data workflows, we optimize your data infrastructure
        for seamless project execution.
      </li>

      <li>
        <span class="services-title">Environmental Review and Permitting:</span>
        Navigate regulatory landscapes confidently with our environmental review
        and permitting expertise. We analyze complex geospatial data to identify
        potential environmental impacts, helping you meet regulatory requirements
        and obtain necessary permits.
      </li>

      <li>
        <span class="services-title">Energy Sector Solutions:</span> Tailored solutions
        for the energy sector, including solar, wind, and storage prospecting. Our
        geospatial analysis aids in route planning, substation location determination,
        and constraint identification for efficient and sustainable energy projects.
      </li>
    </ul>
  </div>
</Layout>
<style>
  ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  li {
    margin-top: 1em;
  }
  h3 {
    margin-top: 1em;
  }
  .services-title {
    color: #23ffbd !important;
    display: block;
    width: 100%;
    font-size: 1.2em;
  }
</style>
