---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Contact"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("December 16 2023")}
  heroImage="/lincoln.jpg"
>
  <div></div>
</Layout>
