---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <meta property="og:title" content="Unique Geospatial" />
  <meta
    property="og:description"
    content="Specializing in providing cutting-edge geospatial
solutions for a variety of industries"
  />
  <meta
    property="og:image"
    content="https://uniquegeospatial.com/ugs-services.jpg"
  />

  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="hero-image">
        <img src="logo.png" alt="" />
      </div>
      <h1>Welcome to Unique Geospatial</h1>
      <div class="tag-bubble">
        <div class="tagGIS">Python/VBA/HTML</div>
        <div class="tagGIS">GIS</div>

        <div class="tagGIS">ArcMap/ArcGIS Pro</div>
        <div class="tagGIS">UAVs</div>
        <div class="tagGIS">Remote Sensing</div>
        <div class="tagGIS">LiDAR</div>
        <div class="tagGIS">Surveying</div>
        <div class="tagGIS">Spatial Analysis</div>
        <div class="tagGIS">Data Acquisition and Management</div>
        <div class="tagGIS">CAD</div>
        <div class="tagGIS">QGIS</div>
        <div class="tagGIS">GPS</div>
        <div class="tagGIS">ModelBuilder</div>
        <div class="tagGIS">Web-based GIS</div>
      </div>
      <p>
        At Unique Geospatial, we specialize in providing cutting-edge geospatial
        solutions for a variety of industries. With over a decade of experience,
        our founder, Lincoln Kauffman, has a proven track record in delivering
        complex mapping solutions and database administration for construction,
        environmental, and utility specialists.
      </p>
      <!-- <p>
        This template comes with a few integrations already configured in your
        <code>astro.config.mjs</code> file. You can customize your setup with
        <a href="https://astro.build/integrations">Astro Integrations</a> to add
        tools like Tailwind, React, or Vue to your project.
      </p>
      <p>Here are a few ideas on how to get started with the template:</p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
        <li>
          Edit the site header items in <code>src/components/Header.astro</code>
        </li>
        <li>
          Add your name to the footer in <code>src/components/Footer.astro</code
          >
        </li>
        <li>
          Check out the included blog posts in <code>src/pages/blog/</code>
        </li>
        <li>
          Customize the blog post page layout in <code
            >src/layouts/BlogPost.astro</code
          >
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to <a
          href="https://docs.astro.build/"
          >read the docs
        </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
        questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out <a
          href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template
        </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p> -->

      <iframe
        class="hero-map"
        title="Global Human Settlement"
        src="https://felt.com/embed/map/Global-Human-Settlement-5FzbIDg4RA9B5XnhuPnGgzC?loc=17.62,-9,3z"
      ></iframe>

      <style>
        .hero-map {
          width: 100%;
          height: 600px;
          border-radius: 12px;

          .tagGIS {
            display: inline-block;
            text-wrap: wrap-text;
          }
        }
      </style>
    </main>
    <Footer />
  </body>
</html>
